a.app-link-regular {
  color: #2d414e;
  text-decoration: none;
}
a.app-link-regular:visited {
  color: #2d414e;
  text-decoration: none;
}
a.app-link-regular:active {
  color: #2d414e;
  text-decoration: none;
}
a.app-link-regular:hover {
  color: #2d414e;
  text-decoration: underline;
}
